@use "@/styles/variables" as var;
@use "@/styles/mixins" as mixin;
@use "@/styles/breakpoints" as *;

.about {
   padding: 1rem 0 5rem;
   .about_me_section {
      & > h1 {
         margin: 1rem 0 4rem;
      }
      & > div {
         & > .about_text_section > p {
            line-height: 180%;
            margin-bottom: 2rem;
            text-align: justify;
            color: var.$faded;
            & > .highlight,
            &.contact_para {
               color: #ffffff;
               font-weight: 600;
            }
            & > .link {
               color: var.$primary-light;
               &:hover {
                  text-decoration: underline;
                  text-decoration-thickness: 8;
                  text-underline-position: under;
               }
            }
            @include breakpoints(about-page) {
               text-align: left;
            }
         }
         & > .avatar_container {
            $dimension: 30rem;
            width: $dimension;
            height: $dimension;
            position: relative;
            isolation: isolate;
            float: right;
            margin: 0 0 1rem 8rem;
            & > img {
               position: absolute;
               inset: 0;
            }
            @include breakpoints(about-page) {
               float: none;
               margin: 0 auto;
            }
         }
      }
      @include breakpoints(mobile-xl) {
         & > h1 {
            font-size: 3.2rem;
         }
      }
   }
   .education {
      margin-top: 2rem;
      &_details {
         @include mixin.flexBox(flex-start, flex-start);
         flex-wrap: wrap;
         gap: 3rem;
         padding-inline-start: 2rem;
         counter-reset: list-counter;
         .education_section {
            max-width: 30rem;
            width: 100%;
            padding: 0 2rem;
            counter-increment: list-counter;
            position: relative;
            isolation: isolate;
            &::before {
               content: counter(list-counter);
               position: absolute;
               left: -6%;
               font-size: 2.8rem;
               color: var.$hard-faded;
               font-weight: 700;
            }
            & > p {
               margin: 0;
               &.education_course {
                  font-size: 1.8rem;
               }
               &.education_institute {
                  margin: 0.6rem 0 1rem;
                  color: var.$faded;
               }
               &.education_period {
                  color: var.$hard-faded;
                  font-weight: 600;
               }
            }
         }
      }
   }
}
